@charset "UTF-8";
body {
  font-family: "Pretendard";
}

* {
  padding: 0;
  margin: 0;
}

.inner {
  margin: 0 108px;
}

#main .naver_intro {
  width: 100%;
  background-image: url("/img/naver_intro.png");
  height: 100vh;
  display: flex;
  justify-content: center; /* 좌우 중앙 */
  align-items: center;
  text-align: center;
}
#main .naver_intro #main_header {
  position: absolute; /* 중요: 일반적인 흐름에서 벗어나 공중에 뜸 */
  top: 0; /* 위쪽에 딱 붙임 */
  left: 0;
  width: 100%; /* 가로로 길게 늘림 */
  z-index: 100; /* 다른 요소보다 무조건 위에 보이게 함 */
  display: flex;
  justify-content: space-between;
  padding: 64px 108px;
  box-sizing: border-box; /* 패딩 때문에 가로가 늘어나지 않게 함 */
  align-items: center;
}
#main .naver_intro #main_header .gnb_wr {
  list-style-type: none;
  display: flex;
  align-items: center;
}
#main .naver_intro #main_header .gnb_wr .gnb_lst {
  width: 150px;
  color: #fff;
  font-size: 24px;
}
#main .naver_intro #main_header .right_box {
  display: flex;
  gap: 24px;
}
#main .naver_intro #main_header .right_box .global_box {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .naver_intro #main_header .right_box .global_box .la-globe {
  color: #fff;
  font-size: 24px;
}
#main .naver_intro #main_header .right_box .hamberger_box {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .naver_intro #main_header .right_box .hamberger_box .hamberger_menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
#main .naver_intro #main_header .right_box .hamberger_box .hamberger_menu .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
}
#main .naver_intro .intro_exp {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 64px;
}
#main .naver_intro .intro_tit {
  font-size: 60px;
  color: white;
}
#main .naver_intro .dots_wr {
  padding-top: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .naver_intro .dots_wr .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 24px;
}
#main .naver_intro .dots_wr .acitve {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: #fff solid 3px;
  background-color: transparent;
}
#main .naver_service {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 64px 0;
}
#main .naver_service .tit_box {
  display: flex;
  align-items: flex-end;
  padding-bottom: 32px;
}
#main .naver_service .tit_box .service_min_tit {
  font-size: 32px;
  font-weight: bold;
}
#main .naver_service .tit_box .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #03a94d;
}
#main .naver_service .service_tit {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 32px;
}
#main .naver_service .service_exp {
  font-size: 28px;
  font-weight: 500;
  color: #434343;
}
#main .naver_service .sub_txt_box {
  display: flex;
  justify-content: space-between;
}
#main .naver_service .sub_txt_box .more_btn {
  color: #ffffff;
  width: 240px;
  height: 70px;
  background-color: #1b326b;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 24px;
}
#main .naver_service .sub_txt_box .more_btn::after {
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #ffffff;
  content: "\f061";
  font-size: 24px;
}
#main .naver_service .card_wr {
  list-style-type: none;
  display: flex;
  width: 100%;
  height: 600px;
  padding: 0;
  margin: 0;
  gap: 16px;
  padding-top: 64px;
}
#main .naver_service .card_wr .card_lst {
  flex: 1;
  overflow: hidden;
  border-radius: 20px;
}
#main .naver_service .card_wr .card_lst:first-child {
  flex: 5;
}
#main .naver_service .card_wr .card_lst .card_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
#main .naver_tech {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 64px 0;
}
#main .naver_tech .tit_box {
  display: flex;
  align-items: flex-end;
}
#main .naver_tech .tit_box .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #03a94d;
}
#main .naver_value {
  width: 100%;
  height: 100%;
  background-color: #f0f9f4;
  padding: 64px 0;
}
#main .naver_value .tit_box {
  display: flex;
  align-items: flex-end;
}
#main .naver_value .tit_box .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #03a94d;
}
#main .naver_news {
  width: 100%;
  height: 100%;
  background-color: #ceeade;
  padding: 64px 0;
}
#main .naver_news .tit_box {
  display: flex;
  align-items: flex-end;
}
#main .naver_news .tit_box .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #03a94d;
}

#footer {
  width: 100%;
  height: 100%;
  background-color: #000;
  padding: 64px 0;
}/*# sourceMappingURL=comm.css.map */