body {
  font-family: "Pretendard";
}
* {
  padding: 0;
  margin: 0;
}

.inner {
  margin: 0 108px;
}
#main {
  .naver_intro {
    width: 100%;
    background-image: url("/img/naver_intro.png");
    height: 100vh;
    display: flex;
    justify-content: center; /* 좌우 중앙 */
    align-items: center;
    text-align: center;
    #main_header {
      position: absolute; /* 중요: 일반적인 흐름에서 벗어나 공중에 뜸 */
      top: 0; /* 위쪽에 딱 붙임 */
      left: 0;
      width: 100%; /* 가로로 길게 늘림 */
      z-index: 100; /* 다른 요소보다 무조건 위에 보이게 함 */
      display: flex;
      justify-content: space-between;
      padding: 64px 108px;
      box-sizing: border-box; /* 패딩 때문에 가로가 늘어나지 않게 함 */
      align-items: center;
      //   .white_logo_img {
      //     width: ;
      //     height: auto;
      //   }
      .gnb_wr {
        list-style-type: none;
        display: flex;
        align-items: center;
        .gnb_lst {
          width: 150px;
          color: #fff;
          font-size: 24px;
        }
      }
      .right_box {
        display: flex;
        gap: 24px;
        .global_box {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          border: 1px solid #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          .la-globe {
            color: #fff;
            font-size: 24px;
          }
        }
        .hamberger_box {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: rgb(255, 255, 255, 0.5);
          display: flex;
          align-items: center;
          justify-content: center;
          .hamberger_menu {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 4px;
            .dot {
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: #000000;
            }
          }
        }
      }
    }
    .intro_exp {
      font-size: 28px;
      font-weight: 500;
      color: #fff;
      padding-bottom: 64px;
    }
    .intro_tit {
      font-size: 60px;
      color: white;
    }
    .dots_wr {
      padding-top: 128px;
      display: flex;
      justify-content: center;
      align-items: center;
      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 24px;
      }
      .acitve {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: #fff solid 3px;
        background-color: transparent;
      }
    }
  }
  .naver_service {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 64px 0;
    .min_tit_box {
      display: flex;
      align-items: flex-end;
      padding-bottom: 32px;
      .service_min_tit {
        font-size: 32px;
        font-weight: bold;
      }
      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #03a94d;
      }
    }
    .service_tit {
      font-size: 48px;
      font-weight: bold;
      padding-bottom: 32px;
    }
    .service_exp {
      font-size: 28px;
      font-weight: 500;
      color: #434343;
    }
    .sub_txt_box {
      display: flex;
      justify-content: space-between;
      .more_btn {
        color: #ffffff;
        width: 240px;
        height: 70px;
        background-color: #1b326b;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        gap: 24px;
        &::after {
          font-family: "Line Awesome Free";
          font-weight: 900;
          color: #ffffff;
          content: "\f061";
          font-size: 24px;
        }
      }
    }
    .card_wr {
      list-style-type: none;
      display: flex;
      width: 100%;
      height: 600px;
      padding: 0;
      margin: 0;
      gap: 16px;
      padding-top: 64px;
      .card_lst {
        flex: 1; // 기본적으로는 1의 비율
        overflow: hidden; // 이미지가 넘치지 않게
        border-radius: 20px; // 모서리 둥글게
        position: relative;
        &:first-child {
          flex: 5; // 첫 번째 이미지 비중을 크게 설정
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(34, 34, 34, 0.4);
        }
        .card_img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
        .card_txt_box {
          position: absolute;
          top: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          gap: 64px;

          .card_exp {
            color: #fff;
            font-size: 28px;
            font-size: 500;
            text-align: center;
            line-height: 2;
          }
          .hide {
            display: none;
          }
          .more_link {
            text-decoration: none;
            color: #fff;
            .btn_wr {
              display: flex;
              align-items: center;
              width: 200px;
              /* gap: 24px; */
              justify-content: space-between;
              .btn_txt {
                font-size: 24px;
                font-weight: 500;
              }
              .link_arrow {
                position: relative;
                width: 50px;
                height: 50px;
                border: 1px solid #fff;
                border-radius: 50%;
                /* vertical-align: middle; */
                box-sizing: border-box;
                display: block;
                &::after {
                  content: "";
                  position: absolute;
                  top: 0;
                  right: 20px;
                  bottom: 0;
                  margin: auto;
                  width: 100%;
                  height: 100%;
                  background: url(/img/long_arrow.png);
                  background-size: 100%;
                }
              }
            }
          }
          .link_hide {
            display: none;
          }
        }
        .card_tit {
          color: #fff;
          font-size: 28px;
          font-weight: 500;
        }
        &:first-child {
          .card_tit {
            font-size: 48px; // 첫 번째만 크게
            font-weight: bold;
          }
        }
      }
    }
  }
  .naver_tech {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 64px 0;
    .min_tit_box {
      display: flex;
      align-items: flex-end;
      padding-bottom: 32px;
      .tech_min_tit {
        font-size: 32px;
      }
      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #03a94d;
      }
    }
    .tech_menu_wr {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      position: relative;
      .tech_tit {
        font-size: 48px;
      }
      .tech_menu_box {
        list-style-type: none;
        display: flex;
        gap: 64px;
        .menu_lst {
          display: flex;
          flex-direction: column;
          gap: 24px;
          .eng_name {
            color: #afafaf;
          }
          &:first-child {
            .kor_name {
              &::after {
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                background-color: #000;
              }
            }
          }
        }
      }
    }
    .tech_line {
      margin: 64px 0;
      width: 100%;
      height: 2px;
      display: block;
      background-color: #0000004d;
    }
    .tech_info {
      display: flex;
      justify-content: space-between;
      .left_box {
        display: flex;
        flex-direction: column;
        gap: 128px;
        .tech_exp {
          font-size: 28px;
          color: #434343;
          font-weight: normal;
        }
        .more_btn {
          color: #ffffff;
          width: 240px;
          height: 70px;
          background-color: #1b326b;
          border-radius: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          gap: 24px;
          &::after {
            font-family: "Line Awesome Free";
            font-weight: 900;
            color: #ffffff;
            content: "\f061";
            font-size: 24px;
          }
        }
      }
      .tech_img {
        border-radius: 10px;
      }
    }
  }
  .naver_value {
    width: 100%;
    height: 100%;
    background-color: #f0f9f4;
    padding: 64px 0;
    .min_tit_box {
      display: flex;
      align-items: flex-end;
      margin-bottom: 32px;
      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #03a94d;
      }
    }
    .value_tit {
      font-size: 48px;
      margin-bottom: 64px;
    }
    .value_info {
      display: flex;
      align-items: center;
      gap: 64px;
      .value_img {
        width: 50%;
      }
      .right_info_box {
        list-style-type: none;
        .info_lst {
          padding: 32px;
          border-bottom: rgb(0, 0, 0, 0.3) 1px solid;
          .value_menu_tit {
            font-size: 32px;
            font-weight: bold;
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            gap: 8px;
            &::before {
              content: "";
              width: 10px;
              height: 10px;
              background-color: #1b326b;
              border-radius: 50%;
            }
          }
          .value_exp {
            font-size: 28px;
            font-weight: 500;
            color: #434343;
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            .value_menu_tit {
              font-weight: 500;
              color: #afafaf;
              margin-bottom: 0;
              &::before {
                content: "";
                width: 10px;
                height: 10px;
                background-color: #afafaf;
                border-radius: 50%;
              }
            }
            .value_exp {
              display: none;
            }
          }
        }
      }
    }
  }
  .naver_news {
    width: 100%;
    height: 100%;
    background-color: #ceeade;
    padding: 64px 0;
    .tit_box {
      display: flex;
      align-items: flex-end;
      margin-bottom: 32px;
      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #03a94d;
      }
    }
    .news_min_tit {
      font-size: 32px;
      font-weight: bold;
    }
    .news_tit {
      font-size: 48px;
      margin-bottom: 32px;
    }
    .sub_txt_box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 64px;
      .news_exp {
        font-size: 28px;
        font-weight: 400;
        color: #434343;
      }
      .more_btn {
        color: #ffffff;
        width: 240px;
        height: 70px;
        background-color: #1b326b;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        gap: 24px;
        &::after {
          font-family: "Line Awesome Free";
          font-weight: 900;
          color: #ffffff;
          content: "\f061";
          font-size: 24px;
        }
      }
    }
    .news_info_wr {
      list-style-type: none;
      display: flex;
      gap: 16px;

      a {
        text-decoration: none;
      }
      .news_info_box {
        border: 1px solid #000;
        border-radius: 10px;
        padding: 64px 32px;
        flex: 1;
        .company_news_min_tit {
          font-size: 20px;
          font-weight: bold;
          color: #434343;
          padding: 16px;
          width: 80px;
          border-radius: 28px;
          border: 1px solid #434343;
          text-align: center;
          margin-bottom: 32px;
        }
        .company_news_tit {
          font-size: 32px;
          color: #000;
          padding-bottom: 32px;
        }
        .company_news_exp {
          display: -webkit-box;
          color: #434343;
          font-size: 28px;
          -webkit-line-clamp: 4; /* 4줄로 제한 */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .date_info {
          padding-top: 48px;
          font-size: 20px;
          color: #434343;
          display: flex;
          gap: 16px;
          &::before {
            font-family: "Line Awesome Free";
            font-weight: 900;
            font-size: 24px;
            content: "\f017";
            color: #afafaf;
          }
        }
      }
    }
  }
}
#footer {
  width: 100%;
  height: 100%;
  background-color: #000;
  padding: 64px 0;
}
